.kansorc
db_files

couchdb_newsflash_docker_image.tar.gz
newsflash_app.tar.gz

*~
*.lock
*.DS_Store
.*.swp
*.out
emailadressen
cache
node_modules

!.gitignore


.config.json
.config.js

.npmrc

#sofaapp/packages #repo is down so checkin dependencies
!sofaapp/packages/**/node_modules
logs/
